{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Поиск публикаций
{% endblock title %}

{% block content %}
<h1>Поиск</h1>

<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 30%;">
    </colgroup>
    <tr>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Содержание
        </th>
    </tr>
    {% for post in post_search %}
    <tr>
        <td>
            <a href="/news/{{ post.pk }}">{{ post.caption|censor }}</a>
        </td>
        <td>
            {{ post.create_datetime|date:"d.m.Y h:m:s" }}
        </td>
        <td>
            {{ post.text|truncatechars:21|censor }}
        </td>
        <td>
            <a href="{{ post.pk }}/edit">Редактировать</a>
        </td>
        <td>
            <a href="{{ post.pk }}/delete">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">page_obj.previous_page_number</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}